{% extends 'home/base.html' %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-8">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">product</th>
                        <th scope="col">id</th>
                        <th scope="col">quantity</th>
                        <th scope="col">price</th>
                        <th scope="col">remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in cart %}
                        <tr>
                            <th scope="row">1</th>
                            <td>{{ c.product_line.name }}</td>
                            <td>{{ c.product_line.id }}</td>
                            <td>
                                <i class="fa fa-angle-up" onclick="add('{{ c.product_line.id }}')"></i>
                                <input type="number" min="1" id="number{{ c.product_line.id }}" value="{{ c.quantity }}" max="{{ c.product_line.amount }}">
                                <i class="fa fa-angle-down" onclick="remove('{{ c.product_line.id }}')"></i>
                            </td>
                            <td>{{ c.product_line.price }}</td>
                            <td><a href="{% url 'cart-remove' c.product_line.id %}">remove</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <ul>
                    <li>price: <span id="price"></span></li>
                    <li>quantity: <span id="quantity"></span></li>
                    <li>discount: <span id="discount"></span></li>
                    <li>Total: <span id="total"></span></li>
                </ul>
            </div>
        </div>
    </div>
    {% comment %} <a href="{% url 'order-detail' order.id %}">order</a> {% endcomment %}
    <script>
        function show(){
            $.ajax({
                url: "{% url 'show' %}",
                type : 'GET',
                success:function(response){
                    $("#price").html(response.price);
                    $("#quantity").html(response.quantity);
                    $("#discount").html(response.discount);
                    $("#total").html(response.total);
                }
            })
        }

        show();

        function add(id){
            const num = $("#number" + id).val();
            const num2 = $("#number" + id).attr('max');
            quantity = 0;
            quantity += parseInt(num) + 1;
            if(quantity <= num2){
                 $("#number" + id).val(quantity);
                 $.ajax({
                     url : "{% url 'add-single' %}",
                     type:'GET',
                     data:{product_line_id:id,quantity:quantity},
                     success:function(data){
                        show();
                     }
                 })
            }
        }

        function remove(id){
            const num = $("#number" + id).val();
            const num2 = $("#number" + id).attr('min');
            quantity = 0;
            quantity += parseInt(num) - 1;
            if(quantity >= num2){
                 $("#number" + id).val(quantity);
                 $.ajax({
                     url : "{% url 'remove-single' %}",
                     type:'GET',
                     data:{product_line_id:id,quantity:quantity},
                     success:function(data){
                        show();
                     }
                 })
            }
        }
    </script>


{% endblock %}