{% extends "home/base.html" %}
{% load static %}
{% block title %} 
product
{% endblock %}
{% block css %} 
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
{% endblock %}
{% block body %} 
    <div class="container">
        <h1>{{ chosen_product_line.name }}</h1>
        <h4>rate: {{ product.average }}</h4>
        <img src="{{ product.image.url }}" style="width:300px; height:300px" alt="">
        <p>{{ product.description | safe }}</p>
        <h5>like: {{ product.total_like }}</h5>

        {% if request.user.is_authenticated %}

            {% if is_favorite %}
                <a href="{% url 'product-favorite' product.id %}"><i class="fa fa-heart" style"color:red;font-size:24px"></i></a>
            {% else %}
                <a href="{% url 'product-favorite' product.id %}"><i class="fa fa-heart-o" style"color:red;font-size:24px"></i></a>
            {% endif %}

            {% comment %} ajax {% endcomment %}
            {% comment %} {% if request.user in product.favorite.all %}
                <a href="{% url 'product-favorite' product.id %}"><i class="fa fa-heart" style"color:red;font-size:24px"></i></a>
            {% else %}
            <a href="{% url 'product-favorite' product.id %}"><i class="fa fa-heart-o" style"color:red;font-size:24px"></i></a>
            {% endif %} {% endcomment %}



            
            {% if is_like %}
                <a href="{% url 'product-like' product.id %}" class="btn btn-primary {% if is_dislike %} disabled {% endif %}">disLike</a>
            {% else %}
                <a href="{% url 'product-like' product.id %}" class="btn btn-primary {% if is_dislike %} disabled {% endif %}">Like</a>
            {% endif %}

            <h5>dislike: {{ product.total_dislike }}</h5>
            {% if is_dislike %}
                <a href="{% url 'product-dislike' product.id %}" class="btn btn-primary {% if is_like %} disabled {% endif %}">disLike</a>
            {% else %}
                <a href="{% url 'product-dislike' product.id %}" class="btn btn-primary {% if is_like %} disabled {% endif %}">Like</a>
            {% endif %}

        {% endif %}
        <br>
        <hr>


        {% if product.status == 'both' %}
            <form action="" method="post">
                {% csrf_token %}
                {% for data in size %}
                    <input type="radio" value="{{ data.id }}" {% if chosen_product_line.id == data.id %} checked {% endif %}
                        name="select" onchange="this.form.submit();">
                    <a href="" style="text-decoration: none">{{ data.size }}</a>
                {% endfor %}
            </form>
            <form action="" method="post">
                {% csrf_token %}
                {% for data in colors %}
                    <input type="radio" value="{{ data.id }}" {% if chosen_product_line.id == data.id %} checked {% endif %}
                        name="select" id="select" onchange="this.form.submit();">
                    <a href="" style="text-decoration: none">{{ data.color }}</a>
                {% endfor %}
            </form>





        {% elif product.status == 'size' %}
            <form action="" method="post">
                {% csrf_token %}
                {% for data in product_line %}
                    <input type="radio" value="{{ data.id }}" {% if chosen_product_line.id == data.id %} checked {% endif %}
                        name="select" onchange="this.form.submit();">
                    <a href="" style="text-decoration: none">{{ data.size }}</a>
                {% endfor %}
            </form>
        {% elif product.status == 'color' %}
            <form action="" method="post">
                {% csrf_token %}
                {% for data in product_line %}
                    <input type="radio" value="{{ data.id }}" {% if chosen_product_line.id == data.id %} checked {% endif %}
                        name="select" id="select" onchange="this.form.submit();">
                    <a href="" style="text-decoration: none">{{ data.color }}</a>
                {% endfor %}
            </form>
        {% endif %}

        {% comment %} ###############################
        <div class="card">
            {% if product.status != 'None' %}
                <form method="post" action="{% url 'cart-add' product.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="select" value="{{ chosen_product_line.id }}">
                    <input type="number" name="quantity" min="1" value="1" max="{{ chosen_product_line.amount }}" required oninvalid="setCustomValidity('It must be under {{ chosen_product_line.amount }}')">
                    <button type="submit">Add to cart</button>
                </form>
            {% else %}
                <form method="post" action="{% url 'cart-add' product.id %}">
                    {% csrf_token %}
                    <input type="number" name="quantity" min="1" value="1" max="{{ product.amount }}" required oninvalid="setCustomValidity('It must be under {{ product.amount }}')">
                    <button type="submit">Add to cart</button>
                </form>
            {% endif %}
        </div>

        ######################## {% endcomment %}
        <form method="post" action="{% url 'cart-add' %}">
            {% csrf_token %}
            <input type="hidden" name="test" value="{{ chosen_product_line.id }}">
            <input type="number" name="quantity" min="1" value="1" max="{{ chosen_product_line.amount }}" required oninvalid="setCustomValidity('It must be under {{ chosen_product_line.amount }}')">
            <button type="submit">Add to cart</button>
        </form>










        {% block script %}
            {% if product.status != 'None' %}
                <script>
                        
                    var ctx = document.getElementById('myChart').getContext('2d'):
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [{% for i in change %} {% if chosen_product_line.id == i.product_line_id %} '{{ i.update }}' {% endif %} ,{% endfor %}],
                            datasets: [{
                                label: '# of votes',
                                data: [{% for i in change %} {% if chosen_product_line.id == i.product_line_id %} {{ i.price }} {% endif %} ,{% endfor %}],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(255, 159, 64, 0.2)',
                                    'rgba(255, 205, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(153, 102, 255, 0.2)'
                                ],
                                borderColor: [
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 159, 64)',
                                    'rgb(255, 205, 86)',
                                    'rgb(75, 192, 192)',
                                    'rgb(54, 162, 235)',
                                    'rgb(153, 102, 255)'
                                ],
                                borderWidth: 1

                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>

            {% else %}
                <script>
                    
                    var ctx = document.getElementById('myChart').getContext('2d'):
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [{% for i in update %} '{{ i.modified_time }}' ,{% endfor %}],
                            datasets: [{
                                label: '# of votes',
                                data: [{% for i in update %} {{ i.price }} ,{% endfor %}],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(255, 159, 64, 0.2)',
                                    'rgba(255, 205, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(153, 102, 255, 0.2)'
                                ],
                                borderColor: [
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 159, 64)',
                                    'rgb(255, 205, 86)',
                                    'rgb(75, 192, 192)',
                                    'rgb(54, 162, 235)',
                                    'rgb(153, 102, 255)'
                                ],
                                borderWidth: 1

                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>
                  
            {% endif %}
        {% endblock %}

        <div class="row">
            <canvas id="myChart" width="600" height="300"></canvas>
        </div>
        <hr>
        {% for tag in similar %}
            <a href="{% url 'product_info tag.id' %}">
                <img src="{{ tag.image.url }}" style="width:300px; height:300px" alt="">
            </a>
        {% endfor %}


        {% comment %} {% for comment in comments %}
            <p>{{ comment.comment }}</p><br>
            <small>{{ comment.rate }}</small>
        {% endfor %} {% endcomment %}

        <hr>

        {% comment %} <form action="{% url 'product-comment' product.id %}" method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit">send comment</button>
        </form> {% endcomment %}

        {% if user.is_authenticated %}

            <div class="row comment">
                <div class="col-6">
                    <form action="{% url 'product-comment' product.id %}" method="post">
                        {% csrf_token %}
                        <div class="card">
                            <div class="row">
                                <div class="col-12">
                                    <div class="comment-box">
                                        <h4>Add comment</h4>
                                        <div class="rating">
                                            <input type="radio" name="rate" value="5" id="5"><label for="5">&star;</label>
                                            <input type="radio" name="rate" value="4" id="4"><label for="4">&star;</label>
                                            <input type="radio" name="rate" value="3" id="3"><label for="3">&star;</label>
                                            <input type="radio" name="rate" value="2" id="2"><label for="2">&star;</label>
                                            <input type="radio" name="rate" value="1" id="1"><label for="1">&star;</label>
                                        </div>
                                        <div class="comment-box">
                                            <textarea name="comment" class="form-control" id="comment" placeholder="comment ..." rows="4" required oninvalid="setCustomValidity('Write your comment')"></textarea>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">send comment</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>                        
            </div>

        {% endif %}

        <h2>Comments</h2>
        {% for comment in comments %}
            <div class="card bg-dark text-white mb-2">
                <div class="row">
                    <div class="col-8">
                        <p>{{ comment.user.username }}</p>
                    </div>
                    <div class="col-4">
                        <div class="comment-rating">
                            <i class="fa fa-star{% if comment.rate < 1 %}-o empty{% endif %}"></i>
                            <i class="fa fa-star{% if comment.rate < 2 %}-o empty{% endif %}"></i>
                            <i class="fa fa-star{% if comment.rate < 3 %}-o empty{% endif %}"></i>
                            <i class="fa fa-star{% if comment.rate < 4 %}-o empty{% endif %}"></i>
                            <i class="fa fa-star{% if comment.rate < 5 %}-o empty{% endif %}"></i>
                        </div>
                    </div>
                </div>
                <div class="row p-3">
                    <p>{{ comment.comment }}</p>
                </div>
                
                {% if user.is_authenticated %}

                    <div class="row">
                        <div class="p-2 m-2">
                            <a href="{% url 'product-comment-like' comment.id %}" class="like m-2 cursor">
                                <i class="fa fa-thumbs-o-up">
                                    <span>Like</span>&nbsp {{ comment.like_number }}
                                </i>
                            </a>
                        </div>
                    </div>
                    <form action="{% url 'product-comment-reply' product.id comment.id %}" method="post">
                        {% csrf_token %}
                        <textarea name="comment" id="comment" placeholder="reply ..." class="form-control" rows="4" required oninvalid="setCustomValidity('Write your comment')"></textarea>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary">Send reply</button>
                        </div>
                    </form>

                {% endif %}

                {% for reply in comment.comment_reply.all %}
                    <div class="bg-info text-white mt-2 p-2">
                        <p>{{ reply.comment }}</p>
                    </div>
                {% endfor %}

            </div>
        {% endfor %}
        <br><br>

    </div>
{% endblock %}
ajax
<script>
    $(document).on('click','.test',function(event){
        event.preventDefault();
        $.ajax({
            url : $(this).attr('href'),
            type : 'GET',
            data : $(this).serialize(),
            dataType : 'json',
            success : function(response){
                alert('ok')
            },
            error : function(error){
                alert('error')
            },
        });
    });
</script>