{% extends "home/base.html" %}
{% load static %}
{% load test %}
{% load humanize %}
{% load thumbnail %}
{% block title %} 
products
{% endblock %}
{% block css %} 
    <link rel="stylesheet" href="{% static 'css/filter.css' %}">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}
{% block body %} 
    <h1>all products</h1>
    <div class="container-fluid">
        <form action="{% url 'product-search' %}">
            {{ form }}
        </form>
        {% for cat in category %}
            <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
            <div class="btn-group">
                <button type="button" class="btn btn-secondary  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    {% for sub in cat.sub.all %}
                        <a class="dropdown-item" href="{{ sub.get_absolute_url }}">{{ sub.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <div class="row mt-4">
            <div class="col-3">
                <form action="">
                    <label for="">price:
                        {% comment %} <input type="range" name="price_start" min="90" max="1000">
                        <input type="range" name="price_start" min="90" max="1000"> {% endcomment %}
                        <div class="multi-range" data-lbound="{{ min_price }}" data-ubound="{{ max_price }}">
                            <hr/>
                            <input type="range" name="price_start" min="{{ min_price }}" max="{{ max_price }}" step="5" value="{{ min_price }}" oninput="this.parentNode.dataset.lbound=this.value;"/>

                            <input type="range" name="price_end" min="{{ min_price }}" max="{{ max_price }}" step="5" value="{{ max_price }}" oninput="this.parentNode.dataset.ubound=this.value;"/>

                        </div>
                            
                        
                    </label><br>

                    <label for="">brand:
                        {{ filter.form.brand }}
                    </label><br>


                    <label for="">size:
                        {{ filter.form.size }}
                    </label><br>


                    <label for="">color:
                        {{ filter.form.color }}
                    </label><br>

                    <div style="display:none">
                        {{ filter.form.price }}
                        {{ filter.form.created_time }}
                        {{ filter.form.favorite }}
                        {% if 'search' in request.GET %}
                            {{ s_form }}
                        {% endif %}
                    </div>

                    <button type="submit" class="btn btn-primary">filter</button>
                </form>
            </div>


            <div class="col-9">
                <div class="row">
                    <form actio="">
                        <input type="submit" name="price" value="expensive">
                        <input type="submit" name="price" value="expensive">
                        <input type="submit" name="created_time" value="new">
                        <input type="submit" name="favorite" value="popular">

                        <div style="display:none">
                            {{ filter.form.brand }}
                            {{ filter.form.color }}
                            {{ filter.form.price_start }}
                            {{ filter.form.price_end }}
                            {% if 'search' in request.GET %}
                                {{ s_form }}
                            {% endif %}
                        </div>

                    </form>
                </div>


                {% comment %} <div class="row">
                    {% for product in products %}
                        <div class="col-4">
                            <a href="{{ product.get_absolute_url }}">
                            <h1>{{ product.name }}</h1>
                            </a>
                            <a href="{{ product.get_absolute_url }}">
                                {% thumbnail product.image '200x200' as img %}
                                    <img src="{{ img.url }}" style="width:300px; height:300px" alt="">
                                {% endthumbnail %}
                                <img src="{{ product.image.url }}" style="width:300px; height:300px" alt="">
                            </a>
                            {% if product.discount %}
                                <h4 style="text-decoration:line-through">{{ product.price }}</h4>
                                <h3>{{ product.sale_price }}</h3>
                            {% else %}
                                <h4>{{ product.price }}</h4>
                            {% endif %}
                            <form action="{% url 'compare' product.id %}">
                                <input type="text" value="{{ product.id }}" name="product">
                                <button type="submit">compare</button>
                            </form>
                        </div>
                    {% endfor %}
                </div> {% endcomment %}
                <div class="container">
                    <h3 class="h3">shopping Demo-1 </h3>
                    <div class="row">
                        {% for product in products %}
                            <div class="col-md-3 col-sm-6">
                                <div class="product-grid">
                                    <div class="product-image">
                                        <a href="{{ product.get_absolute_url }}">
                                            <img class="pic-1" src="{{ product.image.url }}" style="width:250px; height:300px">
                                            <img class="pic-2" src="https://www.w3schools.com/bootstrap4/img_avatar3.png">
                                        </a>
                                        <ul class="social">
                                            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                        {% comment %} <span class="product-new-label">Sale</span> {% endcomment %}
                                        {% if product.discount %}
                                            <span class="product-discount-label">{{ product.discount }}%</span>
                                        {% endif %}
                                    </div>
                                    <ul class="rating">
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star"></li>
                                        <li class="fa fa-star disable"></li>
                                    </ul>
                                    <div class="product-content">
                                        <h3 class="title"><a href="#">Women's Blouse</a></h3>
                                        <div class="price">{{ product.price }}
                                            <span>$20.00</span>
                                        </div>
                                        <a class="add-to-cart" href="">+ Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                                
                                
                    
                            </div>
                        {% endfor%}
                    </div>
                </div>

            </div>



        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if products.has_previous %}
                    <li class="page-item"><a class="page-link" href="{% filter_url products.previous_page_number 'page' request.GET.urlencode %}">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="{% filter_url products.previous_page_number 'page' request.GET.urlencode %}">{{ products.previous_page_number }}</a></li>
                {% endif %}

                <li class="page-item {% if page_num == page_num %} active {% endif %}"><a class="page-link" href="{% filter_url products.number 'page' request.GET.urlencode %}">{{ products.number }}</a></li>

                {% if products.has_next %}
                    <li class="page-item"><a class="page-link" href="{% filter_url products.next_page_number 'page' request.GET.urlencode %}">{{ products.next_page_number }}</a></li>
                    <li class="page-item"><a class="page-link" href="{% filter_url products.next_page_number 'page' request.GET.urlencode %}">Next</a></li>
                {% endif %}
                
            </ul>
        </nav>



    </div>
{% endblock %}