{% extends "home/base.html" %}
{% block title %} 
product
{% endblock %}
{% block body %} 
    <h1>{{ product.name }}</h1>
    <img src="{{ product.image.url }}" style="width:300px; height:300px" alt="">
    <p>{{ product.description | safe }}</p>
    <hr>
    {% if product.status == 'size' %}
        <form action="" method="post">
            {% csrf_token %}
            {% for data in product_line %}
                <input type="radio" value="{{ data.id }}" {% if chosen_product_line.id == data.id %} checked {% endif %}
                    name="select" onchange="this.form.submit();">
                <a href="" style="text-decoration: none">{{ data.size }}</a>
            {% endfor %}
        </form>
    {% elif product.status == 'color' %}
        <form action="" method="post">
            {% csrf_token %}
            {% for data in product_line %}
                <input type="radio" value="{{ data.id }}" {% if chosen_product_line.id == data.id %} checked {% endif %}
                    name="select" onchange="this.form.submit();">
                <a href="" style="text-decoration: none">{{ data.color }}</a>
            {% endfor %}
        </form>
    {% endif %}
{% endblock %}