{% extends "home/base.html" %}
{% block title %} 
products
{% endblock %}
{% block body %} 
    <h1>all products</h1>
    {% for cat in category %}
        <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
        <div class="btn-group">
            <button type="button" class="btn btn-secondary  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu">
                {% for sub in cat.sub.all %}
                    <a class="dropdown-item" href="{{ sub.get_absolute_url }}">{{ sub.name }}</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    {% for product in products %}
        <a href="{{ product.get_absolute_url }}">
          <h1>{{ product.name }}</h1>
        </a>
        <a href="{{ product.get_absolute_url }}">
            <img src="{{ product.image }}" style="width:300px; height:300px" alt="">
        </a>
        {% if product.discount %}
            <h4 style="text-decoration:line-through">{{ product.price }}</h4>
            <h3>{{ product.sale_price }}</h3>
        {% else %}
            <h4>{{ product.price }}</h4>
        {% endif %}
    {% endfor %}
{% endblock %}