{% extends "home/base.html" %}
{% load static %}
{% block title %} 
profile
{% endblock %}
{% block css %} 
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block body %} 

        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <div class="side-menu">
                        <div class="image-container">
                            <img src="{{ profile.photo.url }}" alt="">
                        </div>
                        <a href={% url 'user_profile' %}>profile</a>
                        <a href={% url 'user_update' %}>update</a>
                        <a href={% url 'change_password' %}>change password</a>
                        <a href={% url 'history' %}>history</a>
                        <a href={% url 'favorite-products' %}>favorite products</a>

                    </div>
                </div>
                <div class="col-8">
                    <div class="profile">
                        <div class="card-body">
                            <form action"" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <br><br>
                                <button type="submit">change password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

    {% comment %} <form action"" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br><br>
        <button type="submit">change password</button>
    </form> {% endcomment %}
